 <!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> CusBooks </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/app.css">
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="row align-items-center"
			style="width: 1200px;">

				<div class="col-5 col-md-2">
					<a href="/" class="main-header_home-link">
						<img src="/images/logopagina.png"
						style="height: 100px;
						width: 180px;
						padding-left: 0px;
						padding-right: 100px;"
						>

					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="search-results.html" method="GET" class="search-form">
						<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				<div class="col-12 col-md-4">
					<a class="main-header_credit-link">
						<i class="fas fa-hand-holding-usd"></i>
						Todas las opiniones en un solo lugar.
					</a>
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>
	
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/">Todos los productos</a></li>
					<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
				</ul>
	
				<ul class="right-navbar">
					<!-- Solo logueado <li><a href="profile.html">
							Nombre del usuario <i class="fas fa-user"></i>
						</a>
					</li>
					<li>
						<form action="" method="post">
							<button class="logout" type="submit">
								Cerrar sesión <i class="fas fa-sign-in-alt"></i>
							</button>
						</form>
					</li> -->
					<li>
						<a href="/user/register">Creá tu cuenta <i class="far fa-address-card"></i>
						</a>
					</li>
					<li>
						<a href="/user/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/bannerlibros.jpg" alt="Banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion1.jpg" alt="La Tía Cosima">
						</figure>
						<article class="product-box_data">
							<h2>La tía Cósima</h2>
							<p>Cósima es una mujer en la plenitud de la vida. Psicóloga de profesión y especializada en el tratamiento del autismo infantil</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion2.jpg" alt="Los Siete Maridos De Evelyn Hugo">
						</figure>
						<article class="product-box_data">
							<h2>Los Siete Maridos</h2>
							<p>Evelyn Hugo, el ícono de Hollywood que se ha recluido en su edad madura, decide al fin contar</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion3.jpg" alt="Harry Potter Y La Piedra Filosofal">
						</figure>
						<article class="product-box_data">
							<h2>Harry Potter y la piedra filosofal</h2>
							<p>Firenze, un centauro le explica a Harry que la sangre de unicornio le puede dar más vida, pero si</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion4.jpg" alt="Mi Camino">
						</figure>
						<article class="product-box_data">
							<h2>MI CAMINO</h2>
							<p>La gente nos demanda más humildad, nos demanda un proyecto en serio, nos demanda que</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion5.jpg" alt="El Duelo">
						</figure>
						<article class="product-box_data">
							<h2>El Duelo</h2>
							<p>El Duelo es un territorio oscuro, misterioso, casi inaccesible. Una conmoción </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion6.jpg" alt="Soltar Para Ser Feliz">
						</figure>
						<article class="product-box_data">
							<h2>Soltar para ser feliz</h2>
							<p>Soltar es una palabra que está de moda. Con frecuencia escuchamos frases como: “Hay que soltar el enojo</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion7.jpg" alt="Asesino De Brujas">
						</figure>
						<article class="product-box_data">
							<h2>Asesino de Brujas</h2>
							<p>Unidos como uno para amarse, para honrarse o para arder. Dos años atrás, Louise le Blanc huyó</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion8.jpg" alt="En El Limbo">
						</figure>
						<article class="product-box_data">
							<h2>En el Limbo</h2>
							<p>Con Ágilmente Estanislao Bachrach puso de moda la neurociencia. Con En el limbo -luego de años de investigación- </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion9.jpg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Magnetizado</h2>
							<p>Unidos como uno para amarse, para honrarse o para arder. Dos años atrás, Louise le Blanc huyó</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="images/products/programacion10.jpg" alt="">
						</figure>
						<article class="product-box_data">
							<h2>Las Primas</h2>
							<p>Unidos como uno para amarse, para honrarse o para arder. Dos años atrás, Louise le Blanc huyó</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->

	//preguntar si hay que borrar todo lo de arriba
	<ul>
		<% for(let i=0; i<products.length; i++){ %>
		  <li>
			<a href="/product/id/<%= product[i].id%>"><%= product[i].title %></a> 
		  </li>
		<% } %> 

		<h2>Buscar películas</h2>
    <form action="/product/search" method="GET">
      <input type="text" name="search" value="" placeholder="Buscar...">
      <button type="submit">Buscar</button>
    </form>
	  </ul>

	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con CusBooks Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en CusBooks tenés envíos gratis en miles de productos. Es un
							beneficio de CusBooks Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En CusBooks, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	
</html>