<%- include('./partials/head') %> 

<body>
	<!-- Header -->
<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<h2 class="col-12"> 
				<form class="registration-form col-6" action="/login" method="POST">
					<label for="">Email:</label> 
				<p>
					<input type="text" name="email" value="" placeholder="email">
				  </p>
				  <label for="">Contraseña:</label>
				  <p>
					<input type="password" name="password" value="" placeholder="contraseña">
				  </p>
				  <p>
					<input type="checkbox" name="rememberme" value="ok">
					Recordame
				  </p>
				  <button type="submit" class="button-log"> Ingresar </button>
				 </form>
			</h2>
                

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>