<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<input class="controls" type="text" name="nombrelibro" id="nombres" placeholder="Ingrese el libro que desee">
			<a href="/">Agregar producto</i></a> 
		</h2>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>