<%- include('./partials/head') %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/header') %> 
	
	
    
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/programacion1.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						C贸sima es una mujer en la plenitud de la vida. Psic贸loga de profesi贸n y especializada en el tratamiento del autismo infantil, posee una fundaci贸n de enorme prestigio, donde se respira un ambiente cuidado y buen humor.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/user">Lucas Lee: </a> </strong>
								 Me parecio un libro interesante y muy bueno para leer.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/user">Yoel Park: </a> </strong>
									No me gusto tanto, pero lo recomiendo!.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/user">Camila Escontrela: </a> </strong>
									Me encanto! Uno de los mejores libros que lei.
									</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/user">Ale vivone: </a> </strong>
									Es una obra maestra!.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/user">Maca Armijo: </a> </strong>
									Increible libro, todos deberian leerlo!</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>