<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<input class="controls" type="text" name="nombres" id="nombres" placeholder="Editar Nombre">
				<input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Editar Apellido">
				<input class="controls" type="email" name="correo" id="correo" placeholder="Editar Correo">
				<input class="controls" type="password" name="correo" id="correo" placeholder="Editar Contraseña">
				<a href="/user">Guardar cambios</i></a> 
			</h2>


	<!-- footer -->
<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>