<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 

	<!-- Novedades -->
	<div class="container">
		<div class="row justify-content-md-center">
			<form class="register-form col-6" action="/" method="POST" enctype="multipart/form-data" >
				<label for="">Username:</label>
				<input type="text" name="username" placeholder="" value="<%= user.username %>">
				<label for="">Foto de Perfil:</label>
				<input type="file" name="userImage" placeholder="">
				<label for="Contraseña:">Contraseña:</label>
				<input type="password" name="password" placeholder="">
				<button type="submit" class="btn btn-dark btn-lg"
					onclick="alert('¡Tu perfil ha sido editado con éxito!')">Editar mi perfil</button>
			</form>
		</div>
	</div>


	<!-- footer -->
<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>