<%- include('./partials/head') %> 

<body>
	<%- include('./partials/header') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> 
				<input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
				<input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
				<input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
				<input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
				<input class="controls" type="date" name="fecha" id="fecha" placeholder="Ingrese la fecha">
				<a href="/user">Registrar<i class="search-form_button"></i></a> 
			</h2>

			<form action="/"></form>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>