<%- include('./partials/head') %> 

<body>
	<%- include('./partials/header') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-2">
				<h2 class="products-title">Registrate</h2>
				
			</div>
			<% if(locals.errors){ %>
					<h2 style="color:red">
						<%= locals.errors.message %>
					</h2>
					<% } %>
		</div>
	</div>
			<!-- Show the "ultimos" products -->
			<div class="container">
				<div class="row justify-content-md-center">
					<form class="register-form col-6" action="/register" method="POST" enctype="multipart/form-data"> 
						<label for="">Nombre:</label>
						<input type="text" name="username" placeholder="">
						<label for="">Fecha de Nacimiento:</label>
						<input type="date" name="birthday" placeholder="">
						<label for="">Email</label>
						<input type="email" name="email" placeholder="">
						<label for="">Foto de perfil:</label>
						<input type="file" name="userImage" placeholder="">
						<label for="Contraseña:">Contraseña:</label>
						<input type="password" name="password" placeholder="">
						<button type="submit" class="btn-outline-dark">Enviar Datos</button>

					</form>
				</div>
			</div>
		


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>