<%- include('./partials/head') %> 

<body>
	<%- include('./partials/header') %> 
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
		
			<h2 class="col-12"> 
				<input class="controls" type="text" name="name"  placeholder="Ingrese su Nombre">
				<input class="controls" type="text" name="username"  placeholder="Ingrese su Nombre de Usuario">
				<input class="controls" type="email" name="email"  placeholder="Ingrese su Correo">
				<input class="controls" type="password" name="password"  placeholder="Ingrese su Contraseña">
				<input class="controls" type="password" name="retypepassword"  placeholder="Ingrese su Contraseña">
				<input class="controls" type="text" name="birthdate"  placeholder="Ingrese fecha de nacimiento (00-00-00)">
				<a href="/user">Registrar<i class="search-form_button"></i></a> 
			</h2>

			<form action="/"></form>


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>